* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

body {
  background-color: #f0f8ff;
}

section {
  padding-bottom: 25px;
  display: flexbox;
  text-align: center;
  position: relative;
}
fieldset {
  background-color: #c1dce6;
  border-radius: 5px;
  border: none;
}
