.nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav svg {
  font-size: 60px;
  fill: #414e5f;
}

.nav__list-item--active {
  background-color: #eeeaea;
}

.nav__list-item {
  width: 100%;
  display: flex;
  justify-content: center;
}
