.quiz-card__bookmark-button {
  position: absolute;
  top: -20px;
  right: 10px;
  background-color: transparent;
  border: none;
}
.quiz-card__tags-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.quiz-card__tags-list li {
  margin-right: 10px;
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 8px;
}

.quiz-card__bookmark-icon {
  font-size: 50px;
  fill: #77868679;
}

.quiz-card__answer-button {
  padding: 6px;
  margin: 20px;
  border-radius: 6px;
  border-color: #ffffff;
  background-color: #ffffff;
}

.quiz-card {
  font-size: 1.3rem;
}

.bookmark {
  fill: black;
}

.quiz-card__answer--hidden {
  display: none;
}
